{% extends 'shop/base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_field %}


{% block content %}
    <div class="content">
    <h1>Информация о пользователе</h1>
        <div class="row">
             <h5>Аватар</h5>
        </div>
        <div class="row">
            <p>
                <img class='user_info' width="100px" height="100px" src="{% if user.image %}{{ user.image.url }} {% else %}{% static 'image/no_image.png' %}{% endif %}">
            </p>
        </div>

        <div class="row">
            <h5>Username: {{ user.username }}</h5>
        </div>

        <div class="row">
            <h5>Имя: {{ user.first_name }}</h5>
        </div>

        <div class="row">
            <h5>Фамилия: {{ user.last_name }}</h5>
        </div>

        <div class="row">
            <h5>Email: {{ user.email }}</h5>
        </div>

        <div class="row">
            <h5>Дата регистрации: {{ user.date_joined }}</h5>
        </div>




    </div>

    <div class="container" id="orders">
    <h1>Информация о заказах</h1>

        {% for order in orders %}
            <div class="row">
                <h2>Дата заказа: {{ order.0.order.created }}</h2>
                <div class="col">
                    <p> {{ order.0.order.first_name }}</p>
                    <p> {{ order.0.order.last_name }}</p>
                </div>

            </div>

            <ol id="order_item" class="container"> <h2>Заказ</h2>

                {% for order_item in order.1 %}
                    <li><ul>
                        <li>Продукт: {{ order_item.product }}</li>
                        <li>Цена: {{ order_item.price }}</li>
                        <li>Количество: {{ order_item.quantity }}</li>
                    </ul></li>

                {% endfor %}

            </ol>
        {% endfor %}

    </div>
{% endblock %}