{% extends 'shop/base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_field %}


{% block content %}
    <h1>Информация о пользователе</h1>
    <p>Аватар</p>
    <p>
        <img class='user_info' width="100px" height="100px" src="{% if user.image %}{{ user.image.url }} {% else %}{% static 'image/no_image.png' %}{% endif %}">
    </p>
    <p>Username: {{ user.username }}</p>
    <p>Имя: {{ user.first_name }}</p>
    <p>Фамилия: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Дата регистрации: {{ user.date_joined }}</p>
{% endblock %}